binary.*
prepare.log
binary
images
cache
chroot
chroot.packages.install
chroot.packages.live
.stage
.lock
.build/
config/binary
config/bootstrap
config/common
config/source
docker-base/chimaera-amd64
docker-base/chimaera-amd64.log
docker-base/chimaera-arm64
docker-base/chimaera-arm64.log
docker-base/chimaera-armhf
docker-base/chimaera-armhf.log
docker-base/chimaera-i386
docker-base/chimaera-i386.log
docker-base/done.log
docker-base/rolling-amd64
docker-base/rolling-amd64.log
docker-base/rolling-i386
docker-base/rolling-i386.log

