
if loadfont /boot/grub/font.pf2 ; then
	set gfxmode=auto
	insmod efi_gop
	insmod efi_uga
	insmod gfxterm
	terminal_output gfxterm
fi

GRUB_BACKGROUND=/EFI/BOOT/splash.png
set menu_color_normal=green/black
set menu_color_highlight=yellow/blue

function load_video {
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod all_video
}

load_video
set gfxpayload=keep


# Timeout for menu
set timeout=5

# Set default boot entry as Entry 0
set default=0
set color_normal=green/black

menuentry "Parrot Live (User:root - Pass:toor)" {
set root=(hd0,msdos1)
linuxefi /live/vmlinuz boot=live noconfig=sudo username=root hostname=parrot quiet splash
initrdefi /live/initrd.img
}

menuentry "Parrot Text" {
set root=(hd0,msdos1)
linuxefi /live/vmlinuz boot=live noconfig=sudo username=root hostname=parrot quiet text
initrdefi /live/initrd.img
}

menuentry "Parrot with Persistence (configure it before)" {
set root=(hd0,msdos1)
linuxefi /live/vmlinuz boot=live noconfig=sudo username=root hostname=parrot quiet splash persistence
initrdefi /live/initrd.img
}

menuentry "Failsafe" {
set root=(hd0,msdos1)
linuxefi /live/vmlinuz boot=live config memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
initrdefi /live/initrd.img
}

menuentry "Stealth (forensic mode)" {
set root=(hd0,msdos1)
linuxefi /live/vmlinuz boot=live noconfig=sudo username=root hostname=parrot noswap noautomount
initrdefi /live/initrd.img
}

menuentry "Graphical Install" {
set root=(hd0,msdos1)
linuxefi /install/gtk/vmlinuz hostname=parrot video=vesa:ywrap,mtrr vga=788
initrdefi /install/gtk/initrd.gz
}

menuentry "Text Install" {
set root=(hd0,msdos1)
linuxefi /install/vmlinuz hostname=parrot video=vesa:ywrap,mtrr vga=788
initrdefi /install/initrd.gz
}
