# This file replaces preseed.cfg embedded in the initrd by
# debian-installer.

# Default repository information (don't include codename data, d-i figures it
# out from what's available in the ISO)
#d-i mirror/country string enter information manually
#d-i mirror/http/hostname string deb.parrot.sh
#d-i mirror/http/directory string /parrot

# Disable Network configuration.
# Parrot uses a different mechanism to redirect
# users to the nearest mirrors available.
# This significantly speeds the installation process up.
d-i netcfg/enable boolean false
d-i hw-detect/load_firmware boolean false
d-i netcfg/disable_dhcp boolean true
d-i apt-setup/use_mirror boolean false

# Disable security, updates and backports
d-i apt-setup/services-select multiselect 

# Enable contrib and non-free
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Disable CDROM entries after install
d-i apt-setup/disable-cdrom-entries boolean true

# Disable source repositories too
d-i apt-setup/enable-source-repositories boolean false

# Upgrade installed packages
#d-i pkgsel/upgrade select full-upgrade

# Change default hostname
d-i netcfg/get_hostname string parrot
# d-i netcfg/get_hostname seen false

# Disable the root user entirely
d-i passwd/root-login boolean false

# Enable eatmydata to boost speed installation
d-i preseed/early_command string anna-install eatmydata-udeb

# Disable question about automatic security updates
d-i pkgsel/update-policy select none

# Disable question about extra media
d-i apt-setup/cdrom/set-first boolean false

# When disk encryption is enabled, skip wiping the partitions beforehand.
d-i partman-auto-crypto/erase_disks boolean false

## Questions from regular packages

# Disable popularity-contest
popularity-contest popularity-contest/participate boolean false

# Random other questions
console-setup console-setup/charmap47 select UTF-8
samba-common samba-common/dhcp boolean false
macchanger macchanger/automatically_run boolean false
kismet-capture-common kismet-capture-common/install-users string 
kismet-capture-common kismet-capture-common/install-setuid boolean true
wireshark-common wireshark-common/install-setuid boolean true
sslh sslh/inetd_or_standalone select standalone
atftpd atftpd/use_inetd boolean false
