#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Install Parrot
Comment=Install this system permanently to your hard disk
Exec=menuexec /usr/sbin/debian-installer-launcher -t
Icon=debian-installer-launcher
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=true
