#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Install Parrot Security OS
Comment=Install this system permanently to your hard disk
Exec=su-to-root -X -c /usr/sbin/debian-installer-launcher
Icon=gdeb
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=false
