#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sh -c "sleep 20;conky"
Name=conky
Comment=Start conky
Icon=nepomuk
X-MATE-Autostart-enabled=true
